{% extends 'menu/menu_base.html' %}
{% load static %}

{% block menu_content %}
  <div class="container-fluid mt-4">
    <header>
      <h1>Submeter Certificado</h1>
      <p>
        Campos com <span>*</span> são obrigatórios.
      </p>
    </header>

    {% if created %}
      <div class="alert alert-success">
        <p>Certificado inserido com sucesso!</p>
        <p>Este é o hash deste certificado: {{ certificate_hash }}</p>
      </div>
    {% endif %}

    {% if form.errors %}
      <div class="alert alert-danger">
        {% for field in form %}
          {% for error in field.errors %}
            <p>{{ error }}</p>
          {% endfor %}
        {% endfor %}
        {% if form.non_field_errors %}
          {% for error in form.non_field_errors %}
            <p>{{ error }}</p>
          {% endfor %}
        {% endif %}
      </div>
    {% endif %}

    <form id="form" method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">ID Interno do Certificado</th>
            <th scope="col">
              Estudante <span>*</span>
            </th>
            <th scope="col">
              CPF <span>*</span>
            </th>
            <th scope="col">
              Atividade <span>*</span>
            </th>
            <th scope="col">
              Data de Emissão <span>*</span>
            </th>
            <th scope="col">
              Carga Horária <span>*</span>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            {% load custom_tags %}
            <td>{{ form.internal_id|add_class:'form-control' }}</td>
            <td>{{ form.student_name|add_class:'form-control' }}</td>
            <td>{{ form.cpf|add_class:'form-control' }}</td>
            <td>{{ form.activity|add_class:'form-control' }}</td>
            <td>{{ form.issue_date|add_class:'form-control' }}</td>
            <td>{{ form.course_workload|add_class:'form-control' }}</td>
          </tr>
        </tbody>
      </table>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">
              Descrição da atividade <span>*</span>
            </th>
            <th scope="col">
              Descrição do certificado <span>*</span>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{ form.activity_description|add_class:'form-control' }}</td>
            <td>{{ form.certificate_description|add_class:'form-control' }}</td>
          </tr>
        </tbody>
      </table>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">
              Email do aluno <span>*</span>
            </th>
            <th scope="col">
              Função Exercida <span>*</span>
            </th>
            <th scope="col">
              Tipo de Certificado <span>*</span>
            </th>
            <th scope="col">
              Data Inicial <span>*</span>
            </th>
            <th scope="col">
              Data Final <span>*</span>
            </th>
            <th scope="col">
              Local <span>*</span>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{ form.email|add_class:'form-control' }}</td>
            <td>{{ form.function|add_class:'form-select' }}</td>
            <td>{{ form.type|add_class:'form-select' }}</td>
            <td>{{ form.initial_date|add_class:'form-control' }}</td>
            <td>{{ form.final_date|add_class:'form-control' }}</td>
            <td>{{ form.local|add_class:'form-control' }}</td>
          </tr>
        </tbody>
      </table>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="send_email" />
        <label class="form-check-label" for="send_email">Enviar PDF do certificado para o aluno?</label>
      </div>
      <table class="table table-bordered" id="email_table" style="display: none;">
        <thead>
          <tr>
            <th scope="col">
              PDF do certificado <span>*</span>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{ form.pdf_certificate|add_class:'form-control' }}</td>
          </tr>
        </tbody>
      </table>
      <button type="submit" class="btn btn-primary">Salvar</button>
      <a href="{% url 'menu' %}" class="btn btn-primary">Voltar</a>
    </form>
  </div>
{% endblock %}

{% block extra_js %}
  <script src="{% static 'js/send_email.js' %}"></script>
  <script>
    var mascaraCPF = IMask(document.getElementById('id_cpf'), {
      mask: '000.000.000-00'
    })
  </script>
{% endblock %}
