{% extends 'menu/menu_base.html' %}
{% load static %}

{% block menu_content %}
  <div class="container-fluid mt-4">
    <header>
      <h1>Pesquisa de Certificados</h1>
    </header>

    {% if form.errors %}
      <div class="alert alert-danger" role="alert">
        {% for field in form %}
          {% for error in field.errors %}
            <p>{{ error }}</p>
          {% endfor %}
        {% endfor %}
        {% if form.non_field_errors %}
          {% for error in form.non_field_errors %}
            <p>{{ error }}</p>
          {% endfor %}
        {% endif %}
      </div>
    {% endif %}

    <section>
      <form id="form" method="POST" class="form-control size-form-control">
        <div class="row g-3 align-items-center">
          {% load custom_tags %}
          {% csrf_token %}
          <div class="col-auto">
            <label for="search_type">Tipo de Pesquisa</label>
            {{ form.search_type }}
          </div>
          <div class="col-auto search-box">
            <label for="value">Valor</label>
            {{ form.value|add_class:'form-control' }}
          </div>
          <div class="col-auto">
            <button type="submit" class="btn btn-primary">Pesquisar</button>
          </div>
        </div>
      </form>
    </section>

    {% if no_result %}
      <section>
        <div class="alert alert-danger" role="alert">
          <p>Não há registros para o {{ no_result }} fornecido</p>
        </div>
      </section>
    {% endif %}

    {% if results %}
      <section>
        <caption>Resultados da pesquisa de certificados</caption>
        {% for result in results %}
          <table class="table table-bordered" style="margin-bottom: 0;">
            <thead>
              <tr>
                <th scope="col">Estudante</th>
                <th scope="col">Instituição</th>
                <th scope="col">Curso</th>
                <th scope="col">Data de Emissão</th>
                <th scope="col">Carga Horária</th>
                <th scope="col">Hash</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>{{ result.student_name }}</td>
                <td>{{ result.institution_name }}</td>
                <td>{{ result.course }}</td>
                <td>{{ result.issue_date }}</td>
                <td>{{ result.course_workload }}</td>
                <td>{{ result.hash }}</td>
              </tr>
            </tbody>
          </table>
          <table class="table table-bordered">
            <thead>
              <tr>
                <th scope="col">Descrição do curso</th>
                <th scope="col">Descrição do certificado</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>{{ result.course_description }}</td>
                <td>{{ result.certificate_description }}</td>
              </tr>
            </tbody>
          </table>
          <hr style="opacity: 1;" />
        {% endfor %}
      </section>
    {% endif %}
  </div>
{% endblock %}

{% block extra_js %}
  <script>
    document.addEventListener('DOMContentLoaded', function () {
      const radioButtons = document.querySelectorAll('input[name="search_type"]')
      let mascaraCPF
    
      radioButtons.forEach(function (radio) {
        radio.addEventListener('change', function () {
          const inputValue = document.getElementById('id_value')
          inputValue.value = '' // Limpa o campo ao trocar de opção
    
          if (this.value === 'cpf') {
            // Verifica se o valor selecionado é CPF
            mascaraCPF = IMask(inputValue, { mask: '000.000.000-00' })
          } else {
            if (mascaraCPF) {
              mascaraCPF.destroy() // Remove a máscara de CPF ao trocar para Hash
            }
          }
        })
      })
    })
  </script>
{% endblock %}
