{% extends 'base.html' %}
{% load static %}

{% block content %}
  <div class="col-12 col-md-8 col-lg-4 full-height vertical-center">
    <div class="card shadow-lg login-card">
      <div class="card-body">
        <h3 class="card-title text-center">Login</h3>

        {% if form.errors %}
          <div class="alert alert-danger" role="alert">Usuário e/ou senha inválidos. Tente novamente</div>
        {% endif %}

        <form id="form" method="post" action="#">
          {% csrf_token %}
          {% load custom_tags %}
          <div class="form-group mt-3">
            <label for="id_username">{{ form.username.label }}</label>
            {{ form.username|add_class:'form-control' }}
          </div>
          <div class="form-group mt-3">
            <label for="id_password">{{ form.password.label }}</label>
            {{ form.password|add_class:'form-control' }}
          </div>
          <div class="d-grid mt-4">
            <button type="submit" class="btn btn-primary btn-block">Login</button>
            <a href="{% url 'menu' %}" class="btn btn-primary btn-block mt-2">Voltar ao Menu</a>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
